
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');
/* For Header */
#header{
    background: #1f1f23;
}
.headerh4{
    display: inline-block;
    margin: 20px;
    margin-bottom: 20px;
}

.headerLink{
    color: #dedee3;
}

.headerBackground{
    position: absolute;
    width:100%;
    height: 100%;
    background: black;
    z-index: -2;
}

/* For Home Banner */
#profile{
    float:left;
    vertical-align: baseline;
    margin-top: 15px;
    width:200px;
    height:200px;
    border-radius: 100px;
}
@media screen and (min-width: 950px){
    #name{
        font-family: 'Yanone Kaffeesatz', sans-serif;
        margin: auto;
        white-space: nowrap;
        overflow: hidden;
        padding-left: 30px;
        padding-top: 10px;
        font-size: 200px;
        color:rgb(255, 255, 255);
    }
}

@media screen and (max-width: 950px){
    #name{
        font-family: 'Yanone Kaffeesatz', sans-serif;
        margin: auto;
        white-space: normal;
        overflow: hidden;
        padding-left: 30px;
        padding-top: 10px;
        font-size: 100px;
        color:rgb(255, 255, 255);
    }
}
@media screen and (min-width: 1000px){
    #banner{
        position: relative;
        overflow: hidden;
        white-space: nowrap;
        height:230px;
        width:1000px;
        background: rgba(0, 0, 0, 0.75);
    }
}

@media screen and (max-width: 1050px){
    #banner{
        position: relative;
        overflow: hidden;
        white-space: nowrap;
        height:230px;
        width:100%;
        background: rgba(0, 0, 0, 0.75);
    }
}

#background{
    position: absolute;
    white-space: nowrap;
    height:230px;
    width: 100%;
    left: 0;
    z-index: -2;
}

/* For Home */
.home{
    border-top: 4px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #1f1f23;
}

.homeText{
    font-size: 20px;
    font-family: 'Playfair Display', serif;
    color:#dedee3;
    text-align: center;
}

.home h2{
    font-family: 'Playfair Display', serif;
    color: #dedee3;
    text-align: center;
}


/* For Home Displays */

.displayButtonLeft{
    left: 0%;
    position: absolute;
    width:10vw;
    float: left;
    background: #1f1f23;
    margin-top: 10px;
    border: none;
}
.displayButtonRight{
    right: 0%;
    position: absolute;
    width:10vw;
    float: right;
    background: #1f1f23;
    margin-top: 10px;
    border: none;
}

@media screen and (min-width:1000px){
    .displayContainers{
        position: relative;
        text-align: center;
        height:720px;
        width:100%;
        background: rgb(0, 0, 0);
        
    }
}


@media screen and (max-width: 1100px){
    .displayContainers{
        position: relative;
        text-align: center;
        height:450px;
        width:100%;
        background: rgb(0, 0, 0);
        
    }
}

.displayName{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    white-space: nowrap;
    text-align: center;
    color: white;
    padding-top: 10px;
}

@media screen and (min-width: 1300px){
    .displayImage{
        height:600px;
        white-space: nowrap;
        overflow: hidden;
        position: relative;
        
    }
}

@media screen and (max-width: 1300px){
    .displayImage{
        height: 200px;
        overflow: hidden;
        position: relative;
        
    }
}

@media screen and (min-width: 1600px){
    .displayDescription{
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        color: white;
        padding-top: 5px;
    }
}

@media screen and (max-width: 1600px){
    .displayDescription{
        text-align: center;
        white-space: normal;
        overflow: hidden;
        color: white;
        padding-top: 5px;
    }
}

.slideabler{
    animation-duration: .5s;
    animation-name: slideright;
}

.slideablel{
    animation-duration: .5s;
    animation-name: slideleft;
}

.slideablelout{
    animation-duration: .5s;
    animation-name: slideleftout;
}

.slideablerout{
    animation-duration: .5s;
    animation-name: sliderightout;
}

@keyframes slideleft{
    from{
        margin-left: -200%;
    }
}

@keyframes slideright{
    from{
        margin-left: 200%;
    }
}

@keyframes sliderightout{
    to{
        margin-left: -200%;
    }
}

@keyframes slideleftout{
    to{
        margin-left: 200%;
    }
}
/* 
@keyframes fadein{
    from{
        opacity: 0;
    }
} */

/* For contact footer and page */
.contacts {

    display: inline-block; 
    width: 80px;
    margin:10px;

}

.contactImage{
    height: 50px;
    width: 50px;
}

/* Education Page */

#collegeImage{
    position: absolute;
    display: inline-block;
    height: 300px;
    margin-left: 100px;
}

.collegeText{
    position: relative;
    overflow: hidden;
    display:inline-block;
    text-align: initial;
    padding: 5px;
    margin-left: 950px;
}

.onlineClassImg{
    height:168px;
}